# Project

https://nofluffjobs.com/pl/?lang=en&criteria=keyword%3D"{job_name}"'  
browser.get(url.format(job_name=job_name))

job_name = ['data analyst', 'data engineer', 'data scientist']

In [344]:
from selenium.webdriver import Firefox
from selenium.webdriver.firefox.service import Service as FirefoxService

from time import sleep
import re
import csv

In [345]:
service = FirefoxService('./geckodriver')
browser = Firefox(service=service)  
browser.implicitly_wait(5)

job_names = ['data analyst', 'data engineer', 'data scientist']

In [346]:
def get_organization_data(job_name):
    url = 'https://nofluffjobs.com/pl/?lang=en&criteria=keyword%3D"{job_name}"'  
    browser.get(url.format(job_name=job_name))

    sleep(1)

    try:
        coockies_btn = browser.find_element('id', 'onetrust-accept-btn-handler')
        coockies_btn.click()
        sleep(1)
    except:
        print('coockies ok')

    try:
        notifications_btn = browser.find_element('css selector', '.notification__close')
        notifications_btn.click()
        sleep(1)
    except:
        print('notification ok') 

    
    while True:
        try: 
            browser.find_element('css selector', '.tw-btn-xl').click()
            sleep(1)
        except:
            break


    orgs = browser.find_elements('css selector', 'a.posting-list-item')


    results = []

    for org in orgs:
        
        sleep(1)
     
        name = org.find_element('css selector', 'h3.posting-title__position').get_attribute('innerText')
        company = org.find_element('tag name', 'h4').text
        
        technologies = org.find_element('css selector', 'nfj-posting-item-tiles').text.replace('\n', '')
        
        location = org.find_element('tag name', 'nfj-posting-item-city').text.split()[0]
        
        salary = org.find_element('css selector', 'nfj-posting-item-salary').text
        print(salary)
        if not salary == 'Check Salary Match':
            bounds = re.findall('[0-9]+', salary.replace(' ', ''))
            low_bound = bounds[0]
            high_bound = bounds[1] if len(bounds) > 1 else bounds[0]
            currency = salary.split()[-1]
        else:
            low_bound = ''
            high_bound = ''
            currency = ''
            
        record = {
            'name': name,
            'company': company,
            'technology': technologies,
            'location': location,
            'salary': {
                'low': low_bound, 
                'high': high_bound, 
                'currency': currency  

            },           
        }
        
        results.append(record) 
 

    return results

In [347]:
final_results = []

In [349]:
for job in job_names:
    final_results.append(get_organization_data(job))

browser.close()

8 000 – 10 000 PLN
14 000 – 24 000 PLN
12 000 – 18 000 PLN
16 800 – 20 000 PLN
17 000 – 23 000 PLN
19 320 – 29 400 PLN
27 000 – 35 000 PLN
Check Salary Match
Check Salary Match
Check Salary Match
7 500 – 10 000 USD
17 000 – 22 000 PLN
28 560 – 35 280 PLN
28 000 – 34 000 PLN
18 480 – 23 520 PLN
30 000 – 40 000 PLN
18 480 – 23 520 PLN
20 000 – 28 000 PLN
27 720 – 31 080 PLN
Check Salary Match
23 520 – 26 880 PLN
15 000 – 18 000 PLN
28 560 – 33 600 PLN
18 900 – 25 200 PLN
1 000 – 2 000 USD
20 000 – 28 500 PLN
Check Salary Match
27 000 – 37 000 PLN
27 720 – 31 920 PLN
Check Salary Match
20 000 – 25 000 PLN
15 120 – 28 896 PLN
21 840 – 26 880 PLN
15 000 – 22 000 PLN
18 000 – 26 000 PLN
16 800 – 21 840 PLN
19 320 – 26 376 PLN
23 520 – 26 880 PLN
18 500 – 24 500 PLN
16 000 – 21 000 PLN
Check Salary Match
26 880 – 28 560 PLN
25 200 – 28 560 PLN
Check Salary Match
17 000 – 20 000 PLN
25 200 – 30 240 PLN
22 400 – 28 823 PLN
21 840 – 24 360 PLN
23 520 – 26 880 PLN
Check Salary Match
20 160 – 25 200 PLN
23 000 – 25 200 PLN
25 200 – 28 560 PLN
19 000 – 27 300 PLN
24 000 – 27 500 PLN
Check Salary Match
32 000 – 42 000 PLN
21 000 – 23 520 PLN
16 700 – 31 200 PLN
5 500 – 10 000 PLN
18 480 – 25 200 PLN
21 840 – 30 240 PLN
19 000 – 20 000 PLN
24 000 – 34 000 PLN
25 000 – 29 500 PLN
Check Salary Match
18 480 – 20 160 PLN
23 100 – 27 300 PLN
23 000 – 30 000 PLN
22 625 – 28 630 PLN
15 000 – 19 000 PLN
16 800 – 20 160 PLN
17 000 – 20 000 PLN
15 120 – 28 896 PLN
Check Salary Match
Check Salary Match
Check Salary Match
20 100 – 33 600 PLN
23 000 – 25 000 PLN
18 480 – 28 560 PLN
Check Salary Match
Check Salary Match
20 000 – 30 000 PLN
Check Salary Match
Check Salary Match
21 840 – 25 200 PLN
25 200 – 28 560 PLN
Check Salary Match
21 000 – 31 920 PLN
7 000 – 9 600 PLN
22 000 – 27 000 PLN
5 100 – 7 000 USD
25 200 – 29 400 PLN
22 000 – 24 000 PLN
17 976 – 24 024 PLN
Check Salary Match
7 000 – 11 000 PLN
20 000 – 27 000 PLN
Check Salary Match
57 000 – 64 000 PLN
7 000 – 11 000 PLN
25 200 – 29 400 PLN
12 000 – 15 000 PLN
Check Salary Match
20 160 – 26 880 PLN
16 800 – 25 200 PLN
28 000 – 40 000 PLN
6 500 – 7 500 USD
coockies ok
20 000 – 28 000 PLN
23 000 – 30 000 PLN
15 120 – 28 896 PLN
27 720 – 31 920 PLN
10 799 – 16 198 PLN
16 198 – 21 598 PLN
23 520 – 26 880 PLN
Check Salary Match
18 500 – 24 500 PLN
Check Salary Match
21 840 – 30 240 PLN
15 000 – 19 000 PLN
23 000 – 25 200 PLN
28 000 – 34 000 PLN
28 560 – 33 600 PLN
13 944 – 19 992 PLN
32 000 – 42 000 PLN
30 000 – 40 000 PLN
14 280 – 25 200 PLN
21 840 – 26 880 PLN
29 185 – 38 914 PLN
19 320 – 29 400 PLN
Check Salary Match
Check Salary Match
15 000 – 22 000 PLN
10 799 – 16 198 PLN
16 198 – 21 598 PLN
Check Salary Match
20 000 – 25 000 PLN
21 840 – 24 360 PLN
23 000 – 30 000 PLN
17 976 – 24 024 PLN
21 000 – 23 520 PLN
23 520 – 26 880 PLN
19 000 – 20 000 PLN
Check Salary Match
19 320 – 26 376 PLN
28 560 – 35 280 PLN
16 800 – 25 200 PLN
27 720 – 31 080 PLN
21 000 – 31 920 PLN
20 160 – 26 880 PLN
26 000 – 40 000 PLN
20 000 – 30 000 PLN
19 846 – 27 239 PLN
15 000 – 18 000 PLN
16 700 – 31 200 PLN
7 000 – 11 000 PLN
19 320 – 28 560 PLN
16 198 – 21 598 PLN
19 320 – 25 200 PLN
16 198 – 21 598 PLN
31 131 – 38 914 PLN
coockies ok
22 400 – 28 823 PLN
16 198 – 21 598 PLN
17 000 – 22 000 PLN
14 280 – 25 200 PLN
18 480 – 25 200 PLN
25 200 – 28 560 PLN
25 200 – 29 400 PLN
Check Salary Match
16 198 – 21 598 PLN
25 200 – 28 560 PLN
26 000 – 36 000 PLN
26 000 – 35 000 PLN
17 500 – 30 000 PLN
19 320 – 28 560 PLN
27 000 – 35 000 PLN
17 300 – 24 700 PLN
15 120 – 28 896 PLN
19 320 – 26 376 PLN
1 000 – 2 000 USD
19 000 – 27 300 PLN
17 500 – 26 000 PLN
26 000 – 35 000 PLN
27 720 – 31 080 PLN
27 000 – 37 000 PLN
Check Salary Match
26 880 – 33 600 PLN
Check Salary Match
4 500 PLN
20 000 – 29 000 PLN
15 000 – 22 000 PLN
20 000 – 28 500 PLN
18 480 – 23 520 PLN
23 520 – 26 880 PLN
31 000 – 37 000 PLN
13 000 – 17 000 PLN
21 000 – 23 520 PLN
23 000 – 30 000 PLN
24 000 – 34 000 PLN
27 000 – 32 000 PLN
30 000 – 40 000 PLN
13 000 – 18 000 PLN
26 880 – 33 600 PLN
18 500 – 24 500 PLN
7 500 – 10 000 USD
18 000 – 26 000 PLN
20 000 – 25 000 PLN
20 000 – 31 250 PLN
17 000 – 33 000 PLN
21 840 – 30 240 PLN
15 000 – 19 000 PLN
28 560 – 33 600 PLN
24 360 – 26 880 PLN
28 000 – 34 000 PLN
17 000 – 23 000 PLN
23 520 – 25 200 PLN
Check Salary Match
20 000 – 28 000 PLN
17 000 – 20 000 PLN
19 320 – 29 400 PLN
20 160 – 26 880 PLN
Check Salary Match
15 000 – 18 000 PLN
Check Salary Match
23 000 – 25 200 PLN
23 520 – 26 880 PLN
32 000 – 42 000 PLN
Check Salary Match
75k – 120k CZK
18 900 – 25 200 PLN
8 000 – 10 000 PLN
Check Salary Match
Check Salary Match
23 520 – 26 880 PLN
21 840 – 26 880 PLN
15 120 – 28 896 PLN
18 480 – 23 520 PLN
20 100 – 33 600 PLN
28 560 – 35 280 PLN
25 000 – 29 500 PLN
Check Salary Match
21 840 – 24 360 PLN
16 700 – 31 200 PLN
17 000 – 23 000 PLN
27 720 – 31 920 PLN
Check Salary Match
Check Salary Match
24 000 – 27 500 PLN
Check Salary Match
23 520 – 26 880 PLN
25 200 – 28 560 PLN
16 800 – 21 840 PLN
20 160 – 25 200 PLN
18 480 – 20 160 PLN
Check Salary Match
Check Salary Match
Check Salary Match
16 800 – 20 160 PLN
28 000 – 40 000 PLN
26 880 – 28 560 PLN
21 840 – 25 200 PLN
Check Salary Match
5 100 – 7 000 USD
22 000 – 24 000 PLN
23 000 – 25 000 PLN
Check Salary Match
20 000 – 27 000 PLN
20 160 – 26 880 PLN
21 000 – 31 920 PLN
16 800 – 25 200 PLN
22 000 – 27 000 PLN
Check Salary Match
26 000 – 40 000 PLN
19 000 – 20 000 PLN
26 000 – 36 000 PLN
57 000 – 64 000 PLN
25 200 – 29 400 PLN

In [350]:
final_results

[[{'name': ' Mid SQL Data Analyst ',
   'company': 'Ośrodek Przetwarzania Informacji - Państwowy Instytut Badawczy',
   'technology': 'Data  SQL  pandas  Python',
   'location': 'Warszawa',
   'salary': {'low': '8000', 'high': '10000', 'currency': 'PLN'}},
  {'name': ' Data Analyst ',
   'company': 'Ferrosan Medical Devices',
   'technology': 'Data  Python  Degree  Data science',
   'location': 'Szczecin',
   'salary': {'low': '14000', 'high': '24000', 'currency': 'PLN'}},
  {'name': ' Data Analyst ',
   'company': 'Volvo Group',
   'technology': 'Data  SQL  Azure  Power BI',
   'location': 'Wrocław',
   'salary': {'low': '12000', 'high': '18000', 'currency': 'PLN'}},
  {'name': ' QA/ Data Analyst ',
   'company': 'AVENGA',
   'technology': 'Testing  SQL  QlikView  PySpark',
   'location': 'Wrocław',
   'salary': {'low': '16800', 'high': '20000', 'currency': 'PLN'}},
  {'name': ' Data Analyst ',
   'company': 'Cognitum Services SA',
   'technology': 'Data  AWS  SQL  Data analysis',
   'location': 'Warszawa',
   'salary': {'low': '17000', 'high': '23000', 'currency': 'PLN'}},
  {'name': ' Data Engineer in Microsoft Azure Cloud ',
   'company': 'Avanade Poland',
   'technology': 'Data  Data analyst  Python  Azure',
   'location': 'Remote',
   'salary': {'low': '19320', 'high': '29400', 'currency': 'PLN'}},
  {'name': ' Senior Technical Project Manager ',
   'company': 'RTB House',
   'technology': 'Project Manager  Data analyst  Project management',
   'location': 'Remote',
   'salary': {'low': '27000', 'high': '35000', 'currency': 'PLN'}},
  {'name': ' Data Analyst ',
   'company': 'Schneider Electric',
   'technology': 'Data  Python  SQL  Tableau',
   'location': 'Warsaw',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Data & Management Information Reporting Analyst ',
   'company': 'IPF Digital',
   'technology': 'Data  SQL  Data analysis  Data analytics',
   'location': 'Warszawa',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' .Net with PowerBI Engineer ',
   'company': 'Capco Poland',
   'technology': 'Data  Data analyst  .NET  Power Query/Power BI',
   'location': 'Remote',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Remote Senior Data Engineer ',
   'company': 'Varwise',
   'technology': 'Data  Scala  Spark  AWS',
   'location': 'Remote',
   'salary': {'low': '7500', 'high': '10000', 'currency': 'USD'}},
  {'name': ' Senior Data Scientist ',
   'company': 'Link Group',
   'technology': 'Data  Python  Hadoop  Machine learning',
   'location': 'Gdynia',
   'salary': {'low': '17000', 'high': '22000', 'currency': 'PLN'}},
  {'name': ' Senior BI Data Engineer ',
   'company': '1dea',
   'technology': 'Data  SQL  BI  DWH',
   'location': 'Remote',
   'salary': {'low': '28560', 'high': '35280', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer ',
   'company': 'Craft.co',
   'technology': 'Data  Python  Data engineering  SQL',
   'location': 'Remote',
   'salary': {'low': '28000', 'high': '34000', 'currency': 'PLN'}},
  {'name': ' Senior Technical Project Manager ',
   'company': 'Crestt',
   'technology': 'Project Manager  Switches  LAN  WAN',
   'location': 'Remote',
   'salary': {'low': '18480', 'high': '23520', 'currency': 'PLN'}},
  {'name': ' Lead Data Engineer ',
   'company': 'Sunscrapers',
   'technology': 'Data  Python  SQL  Data warehouses',
   'location': 'Remote',
   'salary': {'low': '30000', 'high': '40000', 'currency': 'PLN'}},
  {'name': ' Senior PL/SQL Developer ',
   'company': 'AVENGA',
   'technology': 'Data  SQL  Oracle  Jira',
   'location': 'Warszawa',
   'salary': {'low': '18480', 'high': '23520', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer - Remote ',
   'company': 'Link Group',
   'technology': 'Data  Azure  Python  SQL',
   'location': 'Remote',
   'salary': {'low': '20000', 'high': '28000', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer ETL + Python ',
   'company': '1dea',
   'technology': 'Data  Python  ETL  Cloud',
   'location': 'Remote',
   'salary': {'low': '27720', 'high': '31080', 'currency': 'PLN'}},
  {'name': ' Senior QA Automation Engineering ',
   'company': 'Trustshoring.com',
   'technology': 'Testing  .NET  QA Engineer  API testing',
   'location': 'Wroclaw',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Senior Data Engineer - Remote ',
   'company': 'Link Group',
   'technology': 'Data  Python  ELT  ETL',
   'location': 'Remote',
   'salary': {'low': '23520', 'high': '26880', 'currency': 'PLN'}},
  {'name': ' Data Engineer ',
   'company': 'Tooploox',
   'technology': 'Data  SQL  Snowflake  BigQuery',
   'location': 'Remote',
   'salary': {'low': '15000', 'high': '18000', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer / Data Architect - Remote ',
   'company': 'Link Group',
   'technology': 'Data  Python  Big data  Hadoop',
   'location': 'Remote',
   'salary': {'low': '28560', 'high': '33600', 'currency': 'PLN'}},
  {'name': ' Database Administrator ',
   'company': 'Amelco UK Ltd.',
   'technology': 'Data  SQL  PostgreSQL  K8s',
   'location': 'Warsaw',
   'salary': {'low': '18900', 'high': '25200', 'currency': 'PLN'}},
  {'name': ' Technical Project Manager ',
   'company': 'Keymakr',
   'technology': 'Project Manager  Project management  CAN  MS Teams',
   'location': 'Remote',
   'salary': {'low': '1000', 'high': '2000', 'currency': 'USD'}},
  {'name': ' Senior Data Architect – Supply Chain Analytics  ',
   'company': 'Digital Hub Warsaw at Bayer',
   'technology': 'Data  Python  Degree  Data engineering',
   'location': 'Warsaw',
   'salary': {'low': '20000', 'high': '28500', 'currency': 'PLN'}},
  {'name': ' Oracle/SQL Developer ',
   'company': 'T-Mobile Polska',
   'technology': 'Data  SQL  Oracle  MSSQL',
   'location': 'Warszawa',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Senior Data Solution Architect/ Data Architect ',
   'company': 'Altimetrik Poland',
   'technology': 'Data  Python  ETL  Azure',
   'location': 'Remote',
   'salary': {'low': '27000', 'high': '37000', 'currency': 'PLN'}},
  {'name': ' Ms Data Engineer Azure Data Factory ',
   'company': '1dea',
   'technology': 'Data  Python  Azure Data Factory  SQL',
   'location': 'Remote',
   'salary': {'low': '27720', 'high': '31920', 'currency': 'PLN'}},
  {'name': ' QA Engineer ',
   'company': 'Synebo',
   'technology': 'Testing  Salesforce  QA  English',
   'location': 'Remote',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Senior Data Engineer (Finance Team) ',
   'company': 'Falck Digital Technology Poland Sp. z o.o.',
   'technology': 'Data  SQL  Azure  Python',
   'location': 'Warsaw',
   'salary': {'low': '20000', 'high': '25000', 'currency': 'PLN'}},
  {'name': ' Senior Dev in Machine Learning - z j. niemieckim ',
   'company': 'dmTECH',
   'technology': 'Data  GCP  CI  Clean Code',
   'location': 'Remote',
   'salary': {'low': '15120', 'high': '28896', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer ',
   'company': 'Avenga',
   'technology': 'Data  Kafka  Degree  MySQL',
   'location': 'Remote',
   'salary': {'low': '21840', 'high': '26880', 'currency': 'PLN'}},
  {'name': ' Mid Data & AI Engineer FULLY REMOTE ',
   'company': 'Nest Bank',
   'technology': 'Data  Python  Big data  AI',
   'location': 'Remote',
   'salary': {'low': '15000', 'high': '22000', 'currency': 'PLN'}},
  {'name': ' Senior Technical Project Manager ',
   'company': 'Tangent',
   'technology': 'Project Manager  Project management  Jira  Confluence',
   'location': 'Poznań',
   'salary': {'low': '18000', 'high': '26000', 'currency': 'PLN'}},
  {'name': ' SQL Developer ',
   'company': 'Link Group',
   'technology': 'Data  SQL  T-SQL  ETL',
   'location': 'Warsaw',
   'salary': {'low': '16800', 'high': '21840', 'currency': 'PLN'}},
  {'name': ' Data Engineer with Cloud ',
   'company': 'GFT Poland',
   'technology': 'Data  Python  Dataproc for Spark  Dataflow for Apache Beam',
   'location': 'Poznań',
   'salary': {'low': '19320', 'high': '26376', 'currency': 'PLN'}},
  {'name': ' Senior Snowflake Developer ',
   'company': 'AVENGA',
   'technology': 'Data  SQL  Data modeling  ETL',
   'location': 'Remote',
   'salary': {'low': '23520', 'high': '26880', 'currency': 'PLN'}},
  {'name': ' Azure Data Engineer - Remote ',
   'company': 'Link Group',
   'technology': 'Data  Azure  CI  Data Lake',
   'location': 'Remote',
   'salary': {'low': '18500', 'high': '24500', 'currency': 'PLN'}},
  {'name': ' Mid/Senior QA Automation Engineer ',
   'company': 'Travelplanet.pl SA (Invia Group)',
   'technology': 'Testing  Playwright  QA  Automated testing',
   'location': 'Wrocław',
   'salary': {'low': '16000', 'high': '21000', 'currency': 'PLN'}},
  {'name': ' Data Infrastructure Lead ',
   'company': 'IPF Digital',
   'technology': 'Data  AWS  SQL  Python',
   'location': 'Warszawa',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' APEX Developer ',
   'company': 'AVENGA',
   'technology': 'Data  SQL  Oracle  Apex',
   'location': 'Remote',
   'salary': {'low': '26880', 'high': '28560', 'currency': 'PLN'}},
  {'name': ' Data Scientist  ',
   'company': 'Avenga',
   'technology': 'Data  Computer vision  NLP  SQL',
   'location': 'Remote',
   'salary': {'low': '25200', 'high': '28560', 'currency': 'PLN'}},
  {'name': ' Senior/Expert Data/ML Engineer ',
   'company': 'Nordea Bank ABP',
   'technology': 'Data  SQL  AI  Degree',
   'location': 'Gdynia',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Technical Project Manager ',
   'company': 'Devire',
   'technology': 'Project Manager  Communication skills  Project management  Polish',
   'location': 'Tczew',
   'salary': {'low': '17000', 'high': '20000', 'currency': 'PLN'}},
  {'name': ' Data Solutions Architect  ',
   'company': 'Link Group',
   'technology': 'Data  Data analytics  Data analysis  Power Curve',
   'location': 'Remote',
   'salary': {'low': '25200', 'high': '30240', 'currency': 'PLN'}},
  {'name': ' Senior Data Scientist ',
   'company': 'Adform Sp. z o.o.',
   'technology': 'Data  Machine learning  Analytical skills  Python',
   'location': 'Warszawa',
   'salary': {'low': '22400', 'high': '28823', 'currency': 'PLN'}},
  {'name': ' Professional Data Engineer ',
   'company': 'AVENGA',
   'technology': 'Data  Snowflake  ETL  Python',
   'location': 'Remote',
   'salary': {'low': '21840', 'high': '24360', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer ',
   'company': 'AVENGA',
   'technology': 'Data  Python  SQL  Snowflake',
   'location': 'Remote',
   'salary': {'low': '23520', 'high': '26880', 'currency': 'PLN'}},
  {'name': ' QA Automation Engineer ',
   'company': 'Aptean',
   'technology': 'Testing  QA  Communication skills  Test automation',
   'location': 'Wrocław',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Mid Data Modeller - Remote ',
   'company': 'Link Group',
   'technology': 'Data  SQL  English',
   'location': 'Remote',
   'salary': {'low': '20160', 'high': '25200', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer - Remote  ',
   'company': 'Link Group',
   'technology': 'Data  SQL  dbt  Databricks',
   'location': 'Remote',
   'salary': {'low': '23000', 'high': '25200', 'currency': 'PLN'}},
  {'name': ' Senior Data Modeller ',
   'company': 'AVENGA',
   'technology': 'Data  SQL  Data modelling  Data structures',
   'location': 'Gdańsk',
   'salary': {'low': '25200', 'high': '28560', 'currency': 'PLN'}},
  {'name': ' Senior Big Data Developer (Java/Scala) ',
   'company': 'Jit Team',
   'technology': 'Data  Scala  Java  Spark',
   'location': 'Gdynia',
   'salary': {'low': '19000', 'high': '27300', 'currency': 'PLN'}},
  {'name': ' Senior Process & Project Expert OEE KPI - Remote ',
   'company': 'Link Group',
   'technology': 'Project Manager  OEE  PostgreSQL  Project management',
   'location': 'Remote',
   'salary': {'low': '24000', 'high': '27500', 'currency': 'PLN'}},
  {'name': ' Database Analyst ',
   'company': 'T-Mobile Polska',
   'technology': 'Data  SQL  SAS  Pentaho',
   'location': 'Warszawa',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Principal Data Engineer  ',
   'company': 'Digital Hub Warsaw at Bayer',
   'technology': 'Data  Golang  Kafka  REST API',
   'location': 'Warsaw',
   'salary': {'low': '32000', 'high': '42000', 'currency': 'PLN'}},
  {'name': ' Professional Data Engineer ',
   'company': 'AVENGA',
   'technology': 'Data  Python  GCP  AWS',
   'location': 'Remote',
   'salary': {'low': '21000', 'high': '23520', 'currency': 'PLN'}},
  {'name': ' Data Engineer (Future Opening) ',
   'company': 'Xebia sp. z o.o.',
   'technology': 'Data  Python  Airflow  PySpark',
   'location': 'Remote',
   'salary': {'low': '16700', 'high': '31200', 'currency': 'PLN'}},
  {'name': ' Tester - QA Engineer ',
   'company': '3mk Protection',
   'technology': 'Testing  Postman  Miro  Excel',
   'location': 'Ostrów',
   'salary': {'low': '5500', 'high': '10000', 'currency': 'PLN'}},
  {'name': ' Remote Data Scientist ',
   'company': 'Link Group',
   'technology': 'Data  SQL  Data science  Machine learning',
   'location': 'Remote',
   'salary': {'low': '18480', 'high': '25200', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer GCP - Remote  ',
   'company': 'Link Group',
   'technology': 'Data  SQL  GCP  BigQuery',
   'location': 'Remote',
   'salary': {'low': '21840', 'high': '30240', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer ',
   'company': 'Akamai',
   'technology': 'Data  Scala  Scala or Java  Python',
   'location': 'Remote',
   'salary': {'low': '19000', 'high': '20000', 'currency': 'PLN'}},
  {'name': ' Lead Data Architect ',
   'company': 'Digital Hub Warsaw at Bayer',
   'technology': 'Data  SQL  Degree  Market analytics',
   'location': 'Warsaw',
   'salary': {'low': '24000', 'high': '34000', 'currency': 'PLN'}},
  {'name': ' Program and Transition Manager ',
   'company': 'Altimetrik Poland',
   'technology': 'Project Manager  Jira  SAFe  Altas',
   'location': 'Remote',
   'salary': {'low': '25000', 'high': '29500', 'currency': 'PLN'}},
  {'name': ' Senior Talend ETL Specialist ',
   'company': 'JSS Associates',
   'technology': 'Data  ETL  AWS Cloud  Data management',
   'location': 'Warsaw',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' System Engineer ',
   'company': 'AVENGA',
   'technology': 'Data  SQL  Relational database  Oracle',
   'location': 'Remote',
   'salary': {'low': '18480', 'high': '20160', 'currency': 'PLN'}},
  {'name': ' Data Architect - Remote ',
   'company': 'ITDS',
   'technology': 'Data  Data management  Data architecture  Data Governance',
   'location': 'Remote',
   'salary': {'low': '23100', 'high': '27300', 'currency': 'PLN'}},
  {'name': ' Data Warehouse Engineer ',
   'company': 'HSBC Technology Poland',
   'technology': 'Data  Trino  Dremio  Data Lake',
   'location': 'Kraków',
   'salary': {'low': '23000', 'high': '30000', 'currency': 'PLN'}},
  {'name': ' QA Manager ',
   'company': 'Appfire',
   'technology': 'Testing  Selenium  Cypress  Wiremock',
   'location': 'Remote',
   'salary': {'low': '22625', 'high': '28630', 'currency': 'PLN'}},
  {'name': ' Remote Data Engineer  ',
   'company': 'Kingfisher plc.',
   'technology': 'Data  Python  AWS  Data modelling',
   'location': 'Remote',
   'salary': {'low': '15000', 'high': '19000', 'currency': 'PLN'}},
  {'name': ' Tableau Developer (0.5 FTE) ',
   'company': 'AVENGA',
   'technology': 'Data  Tableau  SQL  Data visualization',
   'location': 'Remote',
   'salary': {'low': '16800', 'high': '20160', 'currency': 'PLN'}},
  {'name': '  Administrator baz danych MS SQL ',
   'company': 'Connectis_',
   'technology': 'Data  API  MS SQL  ETL',
   'location': 'Kobyłka',
   'salary': {'low': '17000', 'high': '20000', 'currency': 'PLN'}},
  {'name': ' Senior Data Engineer z j. niemieckim  ',
   'company': 'dmTECH',
   'technology': 'Data  Big data  Spark  Hive',
   'location': 'Remote',
   'salary': {'low': '15120', 'high': '28896', 'currency': 'PLN'}},
  {'name': ' Delivery Manager for IoT/BSS/OSS project in Europe ',
   'company': 'Intellias',
   'technology': 'Project Manager  IoT  BSS  OSS',
   'location': 'Remote',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Data Engineer ',
   'company': 'ROCKWOOL GBS',
   'technology': 'Data  SQL  NoSQL  Data pipelines',
   'location': 'Poznań',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' BigQuery Data Engineer  ',
   'company': 'Ocado Technology',
   'technology': 'Data  SQL  BigQuery  Python',
   'location': 'Kraków',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Senior Machine Learning Engineer (Future Opening) ',
   'company': 'Xebia sp. z o.o.',
   'technology': 'Data  Python  Cloud  CI/CD',
   'location': 'Remote',
   'salary': {'low': '20100', 'high': '33600', 'currency': 'PLN'}},
  {'name': ' DLT Engineer ',
   'company': 'HSBC Technology Poland',
   'technology': 'Data  Java  Spring Framework  RDBMS',
   'location': 'Kraków',
   'salary': {'low': '23000', 'high': '25000', 'currency': 'PLN'}},
  {'name': ' Regular/Senior Test Automation Engineer z j.niem. ',
   'company': 'dmTECH',
   'technology': 'Testing  Java  Tricentis Tosca  Python',
   'location': 'Remote',
   'salary': {'low': '18480', 'high': '28560', 'currency': 'PLN'}},
  {'name': ' Data Engineer ',
   'company': 'CommerzBank',
   'technology': 'Data  SQL  DWH  Unix',
   'location': 'Łódź',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Programista Oracle  ',
   'company': 'HRose Agency',
   'technology': 'Data  SQL  Oracle  Java',
   'location': 'Łódź',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Data Engineer (Fulfillment) ',
   'company': 'Tesco Technology',
   'technology': 'Data  Scala  Hadoop  Kafka',
   'location': 'Kraków',
   'salary': {'low': '20000', 'high': '30000', 'currency': 'PLN'}},
  {'name': ' Python Developer ',
   'company': 'ROCKWOOL GBS',
   'technology': 'Data  Python  Machine learning  TensorFlow',
   'location': 'Poznań',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Senior / Project Manager w Zespole Rozwiązań IT\u200b ',
   'company': 'Benefit Systems SA',
   'technology': 'Project Manager  Project management  GRC  PMP Certificate',
   'location': 'Warszawa',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Programista Oracle ',
   'company': 'Crestt sp. z o.o.',
   'technology': 'Data  Oracle  SQL  Java',
   'location': 'Łódź',
   'salary': {'low': '21840', 'high': '25200', 'currency': 'PLN'}},
  {'name': ' Data Scientist ',
   'company': 'Connectis_',
   'technology': 'Data  AI  Machine learning  Python',
   'location': 'Remote',
   'salary': {'low': '25200', 'high': '28560', 'currency': 'PLN'}},
  {'name': ' Data Engineer | Branża elektroniczna ',
   'company': 'Edge One Solutions Sp. z o.o.',
   'technology': 'Data  Hive  Spark  ETL',
   'location': 'Remote',
   'salary': {'low': '', 'high': '', 'currency': ''}},
  {'name': ' Data Engineer (Senior/Principal) ',
   'company': 'Addepto',
   'technology': 'Data  Python  Big data  Databricks',
   'location': 'Remote',
   'salary': {'low': '21000', 'high': '31920', 'currency': 'PLN'}},
  {'name': ' QA Manager - Tester manualny ',
   'company': 'Eversis',
   'technology': 'Testing  Issue tracking  QA experience  Jira',
   'location': 'Remote',
   'salary': {'low': '7000', 'high': '9600', 'currency': 'PLN'}},
  {'name': ' Cloud Data Warehouse Platform Developer ',
   'company': 'Devire',
   'technology': 'Data  AWS  Amazon Redshift  AWS S3',
   'location': 'Warszawa',
   'salary': {'low': '22000', 'high': '27000', 'currency': 'PLN'}},
  {'name': ' Big Data Engineer (with Palantir Foundry) ',
   'company': 'N-iX',
   'technology': 'Data  Python  Palantir  PySpark',
   'location': 'Remote',

In [351]:
csv_file_path = "job_offer.csv"

with open(csv_file_path, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    
    writer.writerow(['Name', 'Company', 'Location', 'Technologies', 'Salary Low', 'Salary High', 'Currency'])
 
    for job in final_results:
      
        for listing  in job:
            name = listing['name']
            company = listing['company']
            location = listing['location']
            technologies = listing['technology']
            salary_low = listing['salary']['low']
            salary_high = listing['salary']['high']
            salary_currency = listing['salary']['currency']
 
            writer.writerow([name, company, location, technologies, salary_low, salary_high, salary_currency])